@keyframes subirFeed {
    from {
        transform: translateY(400px);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes movimentarImagem {
    25% {
        transform: translateX(4px);
    }
    50% {
        transform: translateX(-4px);
    }
    75% {
        transform: translateX(4px);
    }
}
body {
    margin: 0;
}
.cabecalho {
    background-color: #AAA1C8;
    margin: 0;
}
    .cabecalho__titulo {
        color: #D5C6E0;
        font-size: 1.5rem;
        font-weight: 300;
        padding: 1.6rem;
        text-align: center;
        margin: 0;
    }
.principal {
    background-color:#D5C6E0 ;
}
    .principal__botoes {
        background-color: #D5C6E0;
        padding: 0.5rem;
        margin: 0;
        display: flex;
        justify-content: space-between;
        list-style:none;
    }
        .principal__botoes--botao {
            margin: 0 ;
            color: #AAA1C8;
            font-size: 1.0rem;
        }
    .principal__perfil {
        background-color: #d5c6e0;
        display: flex;
        
    }
        .principal__imagem--perfil {
            height: 9.0rem;
            border-radius: 5rem;
            box-shadow: #463483 5px 5px 20px;
            margin: 1.0rem;     
        }
        
        .texto__div{
            margin-top: 2.7rem;
        }
            .div__texto--perfil {
                font-size: 1.8rem;
                margin: 0;
                color: #AAA1C8;    
                margin-left: 0.3rem;
            }
            .div__texto2--perfil {
                font-size: 0.9rem;
                margin: 0;
                color: #AAA1C8;
                margin-left: 0.3rem;
            }
    .principal__feed {
        background-color: #F5E6E8;
        border-radius: 2.5rem 2.5rem 0 0;
        transform: translateY(400px);
        animation: subirFeed 1s forwards;
    }
        .quem__sou{}
            .quem__sou--titulo {
                color:#7DC9D3;
                font-weight:  100;
                font-size: 1.3rem;
                margin: 0 0 0 1.3rem;
                padding-top: 1.8rem ;
                
            }
            .quem__sou--texto {
                margin: 0.7rem;
                color: #AAA1C8;
            }
        .minhas__tecnologias{
        }
            .minhas__tecnologias--titulo{
                color:#7DC9D3;
                font-weight:  100;
                font-size: 1.3rem;
                margin: 0 0 0 1.5rem;
                padding-top: 1.5rem ;
            }
            .minhas__tecnologias--texto{
                margin: 0.7rem;
                color: #AAA1C8;
            }
            .lista__tecnologias {
                display: flex;
                justify-content: space-evenly;
                padding: 0;
            }
                .opcao__tecnologias {
                    list-style: none;
                }
                .opcao__imagem {
                    height: 2.0rem;
                }
    .feed__sites {
    }
        .sites__titulo {
            color:#7DC9D3;
            font-weight:  100;
            font-size: 1.3rem;
            margin: 0 0 0 1.5rem;
            padding-top: 1.5rem ;
        }
        .sites__opcoes {
            display: flex;
            padding: 0px;
            overflow-x: scroll;
            margin-top: 0.7rem;
            background-color: #D5C6E0; 
        }
            .opcao__sites {
                list-style: none;
                margin: 0.7rem;
            }
                .opcao__imagem--sites {
                    height: 20.0rem;
                    border-radius: 0.3rem;
                }
            
    .principal__social {

    }
        .redes__titulo{
            color:#7DC9D3;
            font-weight:  100;
            font-size: 1.3rem;
            margin: 0 0 0 1.5rem;
            padding-top: 1.5rem ;
        }
        .lista__contatos{
            display: flex;
            justify-content: center;
            padding: 0px;
            margin: 0;
            list-style: none;
        }
            .opcao__contatos {
                margin-block: 1.5rem;
            }
            .opcao__imagem--contato {
                margin-inline: 0.6rem;
                width: 1.8rem;
                height: 1.8rem;
                animation: movimentarImagem 1s normal infinite;
            }
.rodape {
    background-color: #D5C6E0;
    padding: 1.5rem;
    margin: 0;
}