body {
    margin: 0;
}
.cabecalho {
    background-color: #AAA1C8;
    margin: 0;
}
    .cabecalho__titulo {
        color: #D5C6E0;
        font-size: 27px;
        font-weight: 300;
        padding: 15px;
        text-align: center;
        margin: 0;
    }
.principal {
    background-color:#D5C6E0 ;
}
    .principal__botoes {
        background-color: #D5C6E0;
        padding: 8px;
        margin: 0;
        display: flex;
        justify-content: space-between;
        list-style:none;
    }
        .principal__botoes--botao {
            margin: 0 ;
            color: #AAA1C8;
            font-size: 13px;
        }
    .principal__perfil {
        background-color: #F5E6E8;
        display: flex;
        border-radius: 50px 50px 0 0;
    }
        .principal__imagem--perfil {
            height: 150px;
            border-radius: 81px;
            margin: 15px
        }
        .texto__div{
            margin: 57px 10px 0;
        }
            .div__texto--perfil {
                font-size: 28px;
                margin: 0;
                color: #AAA1C8;
            }
            .div__texto2--perfil {
                font-size: 13px;
                margin: 0;
                color: #AAA1C8;
            }
    .principal__feed {
        background-color: #F5E6E8;
    }
        .quem__sou{}
            .quem__sou--titulo {
                color:#7DC9D3;
                font-weight:  100;
                font-size: 20px;
                margin: 0 0 0 20px;
            }
            .quem__sou--texto {
                margin: 11px;
                color: #AAA1C8;
            }
        .minhas__tecnologias{
            margin-top: 40px;
        }
            .minhas__tecnologias--titulo{
                color:#7DC9D3;
                font-weight:  100;
                font-size: 20px;
                margin: 0 0 0 20px;
            }
            .minhas__tecnologias--texto{
                margin: 11px;
                color: #AAA1C8;
            }
            .lista__tecnologias {
                display: flex;
                justify-content: space-evenly;
                padding: 0;
            }
                .opcao__tecnologias {
                    list-style: none;
                }
                .opcao__imagem {
                    height: 30px;
                }
    .feed__sites {
        margin-top: 40px;
    }
        .sites__titulo {
            color:#7DC9D3;
            font-weight:  100;
            font-size: 20px;
            margin: 0 0 0 20px;
        }
        .sites__opcoes {
            display: flex;
            padding: 0px;
            overflow-x: scroll;
            margin-top: 10px;
            background-color: #D5C6E0; 
        }
            .opcao__sites {
                list-style: none;
                margin: 10px;
            }
                .opcao__imagem--sites {
                    height: 250px;
                }
            
    